* {
 box-sizing: border-box;
 scroll-behavior: smooth;
}

@font-face {
	font-family: "JF Flat Regular";
	src: url(../fonts/JF-Flat-regular.eot);
    src: url(../fonts/JF-Flat-regular.eot?#iefix) format('embedded-opentype'),
         url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
         url(../fonts/JF-Flat-regular.woff) format('woff'),
         url(../fonts/JF-Flat-regular.ttf) format('truetype');
	font-weight: bolder;
	font-style: normal
}

body {
	font-family: "JF Flat Regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 14px;
	color: black;
}

/* Navbar Styling */
.navbar {
        width: 100%;
}
.navbar .navbar-brand img {
    width: 40%;
}
.navbar .navbar-brand span {
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
}
.navbar .btn-login button {
    box-shadow: none;
}

/* Carousel Styling */
.carousel-top .row {
    display: block !important;
}
.carousel-top .carousel .carousel-item img {
    height: 400px;
}
.carousel .fa-chevron-right,
.carousel .fa-chevron-left {
    color: #222;
}
.caption h4 {
    max-width: 60%; 
    /* font-size: 22px; */
    margin-right: 20px;
    /* display: inline-block; */
    white-space: nowrap;
}

/* Search Button Styling */
form.search-form {
    margin: auto;
    /* margin-right: 50px; */
    max-width: 30%;
    /* margin-left: 250px; */
}
form.search-form input {
    padding: 10px;
    font-size: 17px;
    height: 40px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  form input:focus {
      outline: none;
  }
  form.search-form button {
    float: left;
    width: 20%;
    height: 40px;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  form.search-form button:hover {
    background: #0b7dda;
  }
  form.search-form::after {
    content: "";
    clear: both;
  }


.features-trips .row {
    display: flex;
    justify-content: space-around;
}
.features-trips h3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 20px;
    color: #222;
    font-weight: 800;
}
.features-trips .card {
    width: 22rem;  
}
.features-trips .card img {
    height: 250px;
    width: 100%;
    
}
.features-trips .card .card-body {
    text-align: center;
}
.why-us {
    margin-top: 50px;
    text-align: center;
    background-color: #eee;
    padding: 20px 0 ;
    border-radius: 20px;
}
.why-us h3 {
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    color: #222;
    font-weight: 800;
}
.why-us ul {
    list-style: none;
    line-height: 2em;
    font-size: larger;
    font-weight: 800;
    display: inline-block;
    width: 80%;    
}
.why-us ul li {
    border-radius: 50%;
    background-color: #fff;
}
.why-us .card:hover {
    background-color: #0069D9 !important;
    transition: 0.5s ease-out;
}
.footer {
    background-color: rgb(46, 46, 46);
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    height: 300px;
   
}
.footer .top-footer ul li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    margin-top: 10px;     
}
.footer .top-footer ul li a {
    color: #ddd;
}
.footer .top-footer ul li a:hover {
    text-decoration: none;
    color: #fff;
}
.footer .contact h5 {
    margin-right: 25px;
    margin-top: 50px;
    font-weight: bolder;
    color: #ddd;
}
.footer .contact .social li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}
.footer .contact .social li a {
    color: #ccc;
    
}
.footer .contact .social li .fa-facebook-f:hover {
    color: #0D8AF0;
    transition: all 0.3s ease-in-out;
}
.footer .contact .social li .fa-twitter:hover {
    color: #5DA9DD;
    transition: all 0.3s ease-in-out;
    
}

.footer .contact .social li .fa-instagram:hover {
    color: #C838A9;
    transition: all 0.3s ease-in-out;

}
.footer .contact .social li .fa-yahoo:hover {
    color: #6001D2;
    transition: all 0.3s ease-in-out;

}
.footer .contact h6 {
    font-size: 12px ;
    color: #ddd;
    margin-top: 50px;
}

@media(max-width:976px){
    .caption {
        display: block !important; 
        margin-bottom: 100px;
    }
    .caption h4 {
        margin-right: auto;
        margin-left: auto;
        white-space: normal;
    }
    .caption form {
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
}

@media(max-width:977px){
    .caption h3 {
        font-size: 20px;
    }
    .caption form {
        min-width: 50%;
    }
}
@media(max-width:794px) {
    .caption h3 {
        font-size: 18px;
    }
    .caption form {
        min-width: 50%;
    }
}

@media(max-width:1099px){
   .features-trips .row {
       display: block;
   }
   .features-trips .card {
       margin-right: auto;
       margin-left: auto;
       width: 60%;
       margin-top: 10px;
   }
}

@media(max-width:832px) {
    .carousel-top .caption {
        display: block;
    }
}
@media(min-width:977px) and(max-width:1020px){
    .caption form {
        margin-left: 5px;
    }
}
@media(min-width: 1111px) {
        .caption form {
            margin-right: 5px;
        }
}
@media(max-width:700px) {
    .caption h4 {
        font-size: 20px;
        white-space: normal;
    }
}